body{
    background-color: #f4f5fd;
    font-family: "Montserrat", sans-serif;
    font-style: italic;
}

nav{
    background-color: #0c001d;
    line-height: 400%;
}

.navbar-brand{
    color: #f4f5fd !important;
}
